body {
  background-color: #E9EBEE;
}

h1.header {
  background-color: #4267B2;
  border-bottom: 1px;
  border-bottom-color: #29487D;
  text-align: center;
  font-size: 20px;
  color: #FFF;
  height: 50px;
}
